
.main-4{
    display: none;
    .lake{
        display: flex;
        flex-direction: column;
        h5{
            font-size: 1.4rem;
        }
        &__detail{
            align-self: center;
            &__long, &__wide, &__maind, &__maxd{                       
                &--converted{
                    display: none;
                }
            }
            &__image{
                align-self: center;
            }
            & > p{
                font-size: map-get($fontSizeParagrapg, "desktop");
                font-weight: 700;
                letter-spacing: 1.9px;
                text-decoration: underline;
                margin-top: 10px;
                text-align: center;
            }
            & > p::first-letter{
                font-size: 1rem;
                color: $black;
                text-shadow: none;
            }
        }
    }
}
