.river{
    ///display: none;
    @extend .lake;
    display: flex;
    flex-direction: column;
    .kilometer{
        align-self: flex-end;
    }
    &__detail{
        @extend .lake__detail;
        &__long{                       
            &--converted{
                display: none;
            }
        }
    }
}