@media (max-width: 1024px){
    header{
        h1{
            @include heading(2rem,2.4px,900);
        }
    }
    p{
        font-size: map-get($fontSizeParagrapg, "tablet");
    }
    .map{
        margin-left: 20px;       
    }
    .card{
        font-size: map-get($fontSizeParagrapg, "medium");
    }
    .lake{
        &__detail{           
            & > p{
                font-size: map-get($fontSizeParagrapg, "tablet");
            }           
        }                  
    }
}
@media (max-width: 768px){
    header{
        h1{
            @include heading(1.6rem,2.4px,700);
        }
    }   
    p{
        font-size: map-get($fontSizeParagrapg, "iphone");
    }
    .map{
        margin-left: 10px;       
    }
    .card{
        height: map-get($cardHeight, small);
    }
    .lake{
        &__detail{           
            & > p{
                font-size: map-get($fontSizeParagrapg, "iphone");
            }           
        }                  
    }
    .rivers__cards__btn{
        display: block;
        margin-left: 50px;
    }
}
@media (max-width: 490px){
    body{
        background-color: $black;
        color: rgb(255, 245, 226);
    }
    header{
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 25px;       
        h1{
            @include heading(1.2rem,1.6px,600);
        }
        .logo{
            display: none;
        }
    }   
    .map{
        margin-left: 5px;
        &__img{
            width: 94vw;
        }         
    }  
    article{
        display: none;
    }
    .main-2{
        padding: 0 1px;
        .lakes{
            &__cards{
                background-color: chartreuse;
                color: olive;
                width: 300px;
                &__img{
                    margin-left: -1px;
                    width: 270px;
                }
            }
        }
    }   
    .main-4{
        .lake{
            &__detail{              
                &__image{
                    width: 90vw;
                    &__img{
                        width: 80vw;
                    }
                }
                & > p{
                    &::first-letter{
                        color: $white;
                    }
                }              
            }
            .description{
                border-color: $white;
            }
            .speaces_sub{
                padding-left: 10px;
            }
            .fish__section{
                .fish{
                    &__li{
                        width: 260px;
                        &__img{
                            width: 130px;
                        }
                        &__btn{
                            width: 130px;
                        }
                    }
                }
            }
        }
    }
    .main-5{
        .river{
            &__detail{              
                &__image{
                    margin-left: 10px;
                    width: 90vw;
                    &__img{
                        width: 80vw;
                    }
                }
                & > p{
                    &::first-letter{
                        color: $white;
                    }
                }
            }
            .description{
                border-color: $white;
            }
            .speaces_sub{
                padding-left: 10px;
            }
            .fish__section{
                .fish{
                    &__li{
                        width: 260px;
                        &__img{
                            width: 130px;
                        }
                        &__btn{
                            width: 130px;
                        }
                    }
                }
            }
        }
    }
    .main-6{
        .fish__detail{
            &__image{
                width: 80vw;
                &__img{
                    width: 70vw;
                    height: 150px;
                }
            }
            h5{
                font-size: 1.5rem;
            }
            ol{
                font-size: 0.7rem;
            }
            & > p{
                font-size: 1rem;
                color: $black;
            }

        }
    }
    h6{
        color: $white;
    }
}
@media (max-width: 320px){
    
    header{   
        padding-left: 5px;
        padding-right: 5px;   
        .nav{
            margin-bottom: 10px;
            height: 30px;        
            &__navbar{
                @include anchors(15px,0.6px,#0013e6,rgba(230, 0, 199,0.4));                                
            }           
        }
        h1{
            @include heading(1rem,0.9px,400);
        }
    }   
    p{
        font-size: map-get($fontSizeParagrapg, "phone");
    }
    .map{
        margin-top: 150px;
        margin-bottom: 100px;
        margin-left: 0;              
    } 
    
    .lake{
        padding-left: 9px;
        //background-color: blanchedalmond;
        .subtitle{
            margin-left: -10px;
        }
        .kilometer{
            label{
                display: flex;
                flex-direction: row;
                text-align: start;
                align-items: baseline;
                font-size: 14px;
                margin: 10px auto;
                border: none;
                .length{
                    @include kilometer(12px, 600, rgba(18, 127, 243,0.2), 0.8px);
                    width: 140px;
                    height: 20px;
                    //margin-left: 60px;
                }
            }       
        }
        &__detail__image{
            padding: 16px;
            width: 280px;
            &__img{
                width: 240px;
            }
            
        }
        &__detail{
            &__image{
                width: 85vw;
                &__img{
                    width: 70vw;
                    height: 25vh;
                }
            }
            & > p{
                //background-color: blanchedalmond;
                font-size: map-get($fontSizeParagrapg, "phone");
            } 
        }       
    }   
    .main-4{
        .lake{
            &__detail{
                align-self: flex-start;
                & > p{
                    font-size: 0.8rem;
                    font-weight: 300;
                    letter-spacing: 0.4;
                }
            }
        }
        .speaces_sub{
            padding-left: 0;
            letter-spacing: 0.5px;
            font-size: 0.6rem;
        }
        .fish__section{
            flex-direction: column;
            .fish{               
                &__li{
                    width:220px;                  
                    &__img{
                        width: 110px;
                        height: 50px;
                        border-radius: 2px;
                    }
                    &__btn{
                        width: 110px;
                        height: 50px;
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }    
    .main-5{
        .river{
            &__detail{
                align-self: flex-start;
                &__image{
                    margin-left: 0;
                    width: 80vw;
                    &__img{
                        width: 70vw;
                        height: 25vh;
                    }
                }
                & > p{
                    font-size: 0.8rem;
                    font-weight: 300;
                    letter-spacing: 0.4;
                    text-align: start;
                }
            }
        }
        .speaces_sub{
            padding-left: 0;
            letter-spacing: 0.5px;
            font-size: 0.6rem;
        }
        .fish__section{
            flex-direction: column;
            .fish{              
                &__li{
                    width:220px;                   
                    &__img{
                        width: 110px;
                        height: 50px;
                        border-radius: 2px;
                    }
                    &__btn{
                        width: 110px;
                        height: 50px;
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }    
    .main-6{
        .fish__detail{
            .centimeter{
                label{
                    //display: none;
                    font-size: 0.6rem;
                }              
            }
            &__image{
                border-width: 0;
                width: 80vw;
                &__img{
                    width: 69vw;
                    height: 150px;
                }
            }
            h5{
                font-size: 0.9rem;
            }
            ol{
                font-size: 0.5rem;
            }
            & > p{
                font-size: 0.6rem;
            }
        }
        
    }
}