$headingFontStyle: 'Josefin Slab', serif;
$navPadding: 20px;
$black: #000000;
$white:#ffffff;
$paddingFooter:10px;
$imgMap:95vw;
$fontSizeParagrapg: (
    "phone":0.7rem,
    "iphone":0.8rem,
    "tablet":0.9rem,
    "desktop":1rem
);
$cardHeight:(
    "small":520px,
    "medium":540px,
    "large":650px
)