
    .bubble{
        position: absolute;
        border: 1px solid $black;
        box-shadow: rgba($color: #ffffff, $alpha: 0.9) 2px 2px 10px inset;
        @include bubbles(12px,150px ,50px);
        border-radius: 50px;
        animation-name: bubbling-1;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        
        &:nth-child(2){
            @include bubbles(21px,5px,200px);
            animation-name: bubbling-2;
            animation-duration: 25s;
            animation-iteration-count: infinite;
        }
        &:nth-child(3){
            @include bubbles(8px,310px,475px);
            animation-name: bubbling-3;
            animation-duration: 25s;
            animation-iteration-count: infinite;}
        &:nth-child(4){
            @include bubbles(20px,220px,1010px);
            animation-name: bubbling-4;
            animation-duration: 20s;
            animation-iteration-count: infinite;}
        &:nth-child(5){
            @include bubbles(25px,1px,1230px);
            animation-name: bubbling-5;
            animation-duration: 20s;
            animation-iteration-count: infinite;}
        &:nth-child(6){
            @include bubbles(15px,280px,1360px);
            animation-name: bubbling-6;
            animation-duration: 20s;
            animation-iteration-count: infinite;}
        &:nth-child(7){
            @include bubbles(35px,-5px,1310px);
            animation-name: bubbling-7;
            animation-duration: 20s;
            animation-iteration-count: infinite;}
        &:nth-child(8){
            @include bubbles(40px,-20px,110px);
            animation-name: bubbling-8;
            animation-duration: 30s;
            animation-iteration-count: infinite;}
        &:nth-child(9){
            @include bubbles(19px,185px,1060px);
                animation-name: bubbling-9;
                animation-duration: 20s;
                animation-iteration-count: infinite;}
        &:nth-child(10){
            @include bubbles(5px,321px,1180px);
            animation-name: bubbling-10;
            animation-duration: 20s;
            animation-iteration-count: infinite;}
    }

@keyframes bubbling-1{
    0%{opacity: 0; bottom: 150px;}
    25%{opacity: 1;}
    50%{width: 10px;height: 10px;opacity: 1;}
    75%{ opacity: 1;}
    100%{width: 0;height:0;opacity: 0;bottom: 670px;}
}
@keyframes bubbling-2{
    0%{opacity: 0; bottom: 5px;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;bottom: 654px;}
}
@keyframes bubbling-3{
    0%{opacity: 0;bottom: 310px}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;bottom: 667px;}
}
@keyframes bubbling-4{
    0%{opacity: 0;bottom: 180px;}
    25%{opacity: 1;}
    50%{opacity: 1;bottom: 360px;}
    75%{opacity: 1;}
    100%{opacity: 0;bottom: 627px;}
}
@keyframes bubbling-5{
    0%{opacity: 0;bottom: 1px}
    25%{opacity: 1;bottom: 285px;}
    50%{width: 25px;height: 25px;opacity: 1;}
    75%{width: 20px;height: 20px;opacity: 1;}
    100%{width: 5px;height: 5px;opacity: 0;bottom: 550px;}
}
@keyframes bubbling-6{
    0%{opacity: 0;bottom: 280px}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;bottom: 385px;}
    100%{opacity: 0;bottom: 560px;}
}
@keyframes bubbling-7{
    0%{opacity: 0;bottom: -5px}
    25%{opacity: 1;bottom: 175px;}
    50%{opacity: 1;bottom: 320px;}
    75%{opacity: 1;}
    100%{opacity: 0;bottom: 540px;}
}
@keyframes bubbling-8{
    0%{opacity: 0;bottom: -20px}
    25%{opacity: 1;}
    50%{opacity: 1;bottom: 250px;}
    75%{opacity: 1;}
    100%{opacity: 0;bottom: 630px;}
}
@keyframes bubbling-9{
    0%{width: 19px;height: 19px;opacity: 0;bottom: 185px}
    25%{width: 19px;height: 19px;opacity: 1;}
    50%{width: 19px;height: 19px;opacity: 1;}
    75%{width: 15px;height: 12px;opacity: 1;}
    95%{width: 5px;height: 5px;opacity: 0.8;}
    100%{width: 0;height: 0;opacity: 0;bottom: 590px;}
}
@keyframes bubbling-10{
    0%{opacity: 0;bottom: 321px}
    25%{opacity: 1;}
    50%{width: 10px;height: 10px;opacity: 1;}
    75%{width: 10px;height: 10px;opacity: 1;}
    95%{opacity: 0.8;}
    100%{width: 0;height: 0;opacity: 0;bottom: 595px;}
}
@media (max-width: 1400px){
    .bubble{
        &:nth-child(10){
            left:209px;
        }
        &:nth-child(9){
            left:120px;
        }
        &:nth-child(7){
            left:1020px;
        }
        &:nth-child(6){
            left:900px;
        }
        &:nth-child(5){
            left:890px;
        }
        &:nth-child(4){
            left:860px;
        }
        &:nth-child(3){
            left:396px;
        }
    }
}
@media (max-width: 1220px){
    .bubble{
        &:nth-child(3){
            left:310px;
        }
    }
}
@media (max-width: 1088px){
    .bubble{
        &:nth-child(7){
            left:910px;
        }
        &:nth-child(6){
            left:800px;
        }
        &:nth-child(5){
            left:720px;
        }
        &:nth-child(4){
            left:270px;
        }
        &:nth-child(3){
            left:210px;
        }
    }
}
@media (max-width: 984px){
    .bubble{
        &:nth-child(7){
            left:810px;
        }
        &:nth-child(6){
            left:700px;
        }
        &:nth-child(5){
            left:670px;
        }
         &:nth-child(4){
            left:200px;
         }
         &:nth-child(3){
             left:170px;
        }
    }
    @media (max-width: 884px){
        .bubble{
            &:nth-child(10){
                display: none;
            }
            &:nth-child(7){
                left:710px;
            }
            &:nth-child(6){
                left:680px;
            }
            &:nth-child(5){
                left:650px;
            }
            &:nth-child(4){
                left:160px;
            }
            &:nth-child(3){
                left:110px;
            }
            &:nth-child(2){
                left:70px;
            }
        }
    }
    @media (max-width: 780px){
        .bubble{
            &:nth-child(7){
                left:620px;
            }
            &:nth-child(6){
                left:610px;
            }
            &:nth-child(5){
                left:120px;
            }
            &:nth-child(4){
                left:110px;
            }
            &:nth-child(3){
                left:80px;
            }
            &:nth-child(2){
                left:40px;
            }
        }
    }
    @media (max-width: 685px){
        &:nth-child(7){
            display: none;
        }
        &:nth-child(6){
            left:270px;
        }
        &:nth-child(5){
            left:100px;
        }
        &:nth-child(4){
            left:95px;
        }
        &:nth-child(3){
            left:78px;
        }
        &:nth-child(2){
            left:40px;
        }
    }
    @media (max-width: 654px){
        .bubble{
            display: none;
        }
    }
}