$leftPosition:50px;
//$left-size:(100,170,240,260,360,410,430);
//@for $i from 1 through 6{
    .bubble{
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid $black;
        //background-color: brown;
        box-shadow: rgba($color: #ffffff, $alpha: 0.9) 2px 2px 10px inset;
        left: $leftPosition;
        bottom: -7200px;
        border-radius: 50px;
        //z-index: 0;
        //&:nth-child(#{$i}){left:170px * $i};
        animation-name: bubbling-1;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        &:nth-child(2){
            left:200px;
            bottom: -7098px;
            width: 8px;
            height: 8px;
            animation-name: bubbling-2;
            animation-duration: 20s;
            animation-iteration-count: infinite;
        }
        &:nth-child(3){left:300px;bottom: -7160px;
            width: 12px;height: 12px;
            animation-name: bubbling-3;
            animation-duration: 20s;
            animation-iteration-count: infinite;}
        &:nth-child(4){left:780px;width: 20px;height: 20px;
            animation-name: bubbling-4;
            animation-duration: 20s;
            animation-iteration-count: infinite;}
        &:nth-child(5){left:920px;bottom: -7290px;
            width: 25px;height: 25px;
            animation-name: bubbling-5;
            animation-duration: 20s;
            animation-iteration-count: infinite;}
        &:nth-child(6){left:1020px;bottom: -7180px;
            width: 15px;height: 15px;
            animation-name: bubbling-6;
            animation-duration: 20s;
            animation-iteration-count: infinite;}
        &:nth-child(7){left:1080px; bottom: -7380px;
            width: 35px;height: 35px;
            animation-name: bubbling-7;
            animation-duration: 20s;
            animation-iteration-count: infinite;}
    }
//}
@keyframes bubbling-1{
    0%{opacity: 0; bottom: -7200px;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{width: 0;height:0;opacity: 0;bottom: -6790px;}
}
@keyframes bubbling-2{
    0%{opacity: 0; bottom: -7098px;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;bottom: -6790px;}
}
@keyframes bubbling-3{
    0%{opacity: 0;bottom: -7160px}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;bottom: -6790px;}
}
@keyframes bubbling-4{
    0%{opacity: 0;bottom: -7200px;}
    25%{opacity: 1;}
    50%{opacity: 1;bottom: -7020px;}
    75%{opacity: 1;}
    100%{opacity: 0;bottom: -6790px;}
}
@keyframes bubbling-5{
    0%{opacity: 0;bottom: -7290px}
    25%{opacity: 1;bottom: -7110px;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;bottom: -6790px;}
}
@keyframes bubbling-6{
    0%{opacity: 0;bottom: -7180px}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;bottom: -6930px;}
    100%{opacity: 0;bottom: -6790px;}
}
@keyframes bubbling-7{
    0%{opacity: 0;bottom: -7380px}
    25%{opacity: 1;bottom: -7110px;}
    50%{opacity: 1;bottom: -7020px;}
    75%{opacity: 1;}
    100%{opacity: 0;bottom: -6790px;}
}