.load{
    display: block;
    width: 90px;
    height: 90px;
    border-left: 10px solid $black;
    border-top: 10px solid rgba(#000000, 0.7);
    border-right: 10px solid rgba(#000000, 0.4);
    border-bottom: 5px solid rgba(#000000, 0.1);
    border-radius: 50px;
    transform: rotate(0deg);
    animation-name: loading;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    z-index: 1;
    left: 720px;
}
@keyframes loading {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.load-text{
    display: block;
    border:1px solid $black;
    width: 120px;
    text-align: center;
    color: rgb(173, 33, 8);
    background: linear-gradient(to right, #e94d4d 50%, rgba(#e94d4d,0.4) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    text-shadow: -1px -1px 1px $white;
    animation-name: text-loading;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    z-index: 1;
    left: 700px;
    top: 200px;
    &::first-letter{
        text-shadow: none;
        font-size: 1rem;
    }
}
@keyframes text-loading {
    from{background-position: right bottom;}
    to{background-position: left bottom;}
}
@media (max-width: 1024px){
    .load{
        left: 410px;
    }
    .load-text{
        left:390px;
    }
}
@media (max-width: 768px){
    .load{
        left: 280px;
    }
    .load-text{
        left:260px;
    }
}
@media (max-width: 684px){
    .load{
        left: 60px;
        width: 70px;
        height: 70px;
    }
    .load-text{
        left:20px;
    }
}